/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Variables */
:root {
    --color-background: #000000;
    /* Black background */
    --color-highlight: #A59759;
    /* Gold highlight */
    --color-text: #FFFFFF;
    /* White text */
    --font-family: 'Inter', sans-serif;
    --font-size: 16px;
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.section {
    padding-top: 6rem;
    /* prevent navbar overlap */
}


/* Navbar Styles */
#navbar {
    font-weight: 100;
}

#navbar img {
    height: 70px;
    /* Adjust logo height as needed */
    width: auto;

}

.active {
    border-bottom: #A59759 1px solid;
}

/* Button Styles */
.btn {
    padding: 8px 18px;
    text-decoration: none;
    font-weight: normal;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 0.75rem;
    margin-bottom: 10px;
}

.btn-custom,
.btn-custom-outline:hover {
    background-color: var(--color-highlight);
    color: var(--color-background);
    border: none;
}

.btn-custom-outline,
.btn-custom:hover {
    background-color: transparent;
    color: var(--color-highlight);
    border: 2px solid var(--color-highlight);
}

/* Header Styles */
#hero {
    width: 100vw;
    height: 350px;
    background: url('../images/hero-img.png') no-repeat top center/cover;
    filter: grayscale(100%);
}